<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="login-appp">
  <template>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="card text-center mt-5">
        <div class="card-body">
          <h1><span class="fa fa-user"></span>Registrate o inicia sesión</h1>
          <button on-click="" class="btn btn-sucess" type="button"> Login</button>
          <button on-click="" class="btn btn-sucess" type="button"> Registrate</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
      Email: <input type="email" value="{{email::input}}">
      <br>
      Password: <input type="password" value="{{password::input}}">
      <br>
      <button on-click="logar" class="btn btn-sucess" type="button">Login </button>

      </div>

      <div class="row">
        <span hidden$={{!logado}}>Bienvenido</span>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginAppp extends Polymer.Element {
      static get is() { return 'login-appp'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }

        logar(){
        console.log("login");
        var url = "http://localhost:3000/v2/Login";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("email", this.email);
        request.setRequestHeader("password", this.password);
        request.send();

        this.respuesta=request.responseText;
        console.log(request.status);

        if(request.status==200)
        {
          this.logado=true;
        }else {
          this.logado=false;
        }

      }
    }

    window.customElements.define(LoginAppp.is, LoginAppp);
  </script>
</dom-module>
