<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="login-appp">
  <template>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <style>
      :host {
        display: block;
      }
    </style>


    <div class="container" >
      <div class="col-sm-18 mx-auto">
        <div class="card mt-5">
          <div class="card-body" hidden$={{logado}}>
            <h1 class="text-center">
              <span class="fa fa-sign-in">
              </span>Inicia sesión

            </h1>

            <form>
              <div class="form-group">
                <label for="email">Email</label>
                 <input type="email" value="{{email::input}}" class="form-control"></input>

              </div>
              <div class="form-group">
                <label for="Contraseña">Contraseña</label>
                 <input type="password" value="{{password::input}}" class="form-control"></input>
              </div>
              <div class="form-group alert alert-danger" hidden$={{!error}}>
                <label >Usuario o contraseña incorrecto</label>
              </div>

              <div class="form-group alert alert-success" hidden$={{!crear}}>
                <label >Usuario creado correctamente</label>
              </div>

            </form>
            <div class="text-center">
              <br>
              <button on-click="logar" class="btn btn-success" type="button">Login </button>
              <hr>
              <p> Necesitas una cuenta </p>
              <button on-click="crearCuenta" class="btn btn-dark" type="button">Registrate </button>
          </div>
        </div>
      </div>


    </div>

    <div class="float-right">
      <button on-click="nologar" hidden$={{!logado}} type="button"class="btn btn-outline-dark btn-sm" >Cerrar sesión</button>
    </div>
    <div class="row">
    </div>



    <div class="container-gastos card p-5" hidden$={{!logado}}>

      <div class="form-row">
        <span hidden$={{!logado}}>Bienvenido [[email]]</span>
      </div>

      <div class="col-sm-22 mx-auto text-center" >
        <h1>Control de gastos de inmuebles</h1>
      </div>


      <button on-click="obtenerInmuebles" class="btn btn-success" type="button" name="button">Obtener Inmuebles</button>
      <!--<button on-click="obtenerGastos" class="btn btn-success" type="button" name="button"> obtenerGastos</button>-->
      <div class="float-right">

        Valor del dolar: <p class="float-right">[[valorUSD]]</p>
      </div>

      <hr style="color:#0056b2;" />

      <div class="form-row">
        <select class="form-group col-md-4" on-change="obtenerGastos">
          <option>MXN</option>
          <option>USD</option>
        </select>

      </div>

      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputCity">Tipo de inmuebles</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-5">
          <label for="inputState">Estado</label>
          <select id="inputState" class="form-control">
            <option selected>CDMX</option>
            <option selected>Jalisco</option>
            <option>Veracruz</option>
          </select>
        </div>
      </div>

      <div class="form-row mx-auto">
        <table>
          <thead>
            <th>ID</th>
            <th>Ciudad</th>
            <th>Municipio</th>
            <th>Monto de gastos (USD)</th>
          </thead>

          <tbody>
            <template is="dom-repeat" items="{{inmuebles}}" >
              <tr>
                <td>
                  [[item.idinmueble]]
                </td>
                <td>
                  [[item.ciudad]]
                </td>
                <td>
                  [[item.municipio]]
                </td>
                <td>
                  [[item.gastos]]
                </td>
              </tr>
            </template>

          </tbody>
        </table>
      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginAppp extends Polymer.Element {
      static get is() { return 'login-appp'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          crear: {
            type: Boolean,
            value: false
          },
          error: {
            type: Boolean,
            value: false
          },
          Clientes:{
            type: Array,
          },
          dolar:{
            type: Array,
          },
          valorUSD:{
            type: String,
          },
        };
      }

        logar(){
        console.log("login");
        var url = "http://localhost:3000/v2/Login";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("email", this.email);
        request.setRequestHeader("password", this.password);
        request.send();

        this.respuesta=request.responseText;
        console.log(request.status);

        if(request.status==200)
        {
          this.error=false;
          this.logado=true;
        }else {
          this.error=true;
          this.logado=false;
        }

      }

      nologar(){
        this.logado=false;
      }

      obtenerInmuebles(){
        //var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var url = "http://localhost:3002/v2/Inmuebles";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

      //  this.inmuebles = JSON.parse(request.responseText).value;
      this.inmuebles = JSON.parse(request.responseText);
        console.table(this.inmuebles);

      }

      obtenerGastos()
      {
        var url = "http://localhost:3002/v2/Inmuebles";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        this.inmuebles = JSON.parse(request.responseText);
        function obtieneValorDolar(){
          var urldolar = "https://api.exchangeratesapi.io/latest?symbols=MXN&base=USD";
          var requestdolar = new XMLHttpRequest();
          requestdolar.open("GET", urldolar, false);
          requestdolar.setRequestHeader("Accept", "application/json");
          requestdolar.send();
          var objetoDolar = JSON.parse(requestdolar.responseText);

          return JSON.stringify(objetoDolar.rates.MXN);
        }
        this.valorUSD=obtieneValorDolar();
        console.log("El valor del dolar es " + obtieneValorDolar());

        this.inmuebles.forEach(function (arrayItem) {
        var x = arrayItem.gastos *obtieneValorDolar() ;
        console.log(x);
        arrayItem.gastos =  arrayItem.gastos * obtieneValorDolar();
        });

        console.table(this.inmuebles);
        return this.inmuebles;


      }



      crearCuenta(){
        var url = "http://localhost:3002/v2/Usuarios";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        var txnuevoCLiente = '{"email": "'+this.email+'", "password": "'+this.password+'"}';
        //var nuevoCliente = {"idcliente":8, "nombre": "Delia", "apellido": "Gomez"};
        var obj = JSON.parse(txnuevoCLiente);

        console.log("Nuevo cliente"+ obj);

        var body = JSON.stringify(obj);
        console.log(body);
        request.send(body);

        this.respuesta = request.responseText;
        if(this.respuesta=200)
        {
          this.crear=true;
          console.log("this crear"+ this.crear);
        }


        console.log(this.respuesta);
      }


      obtenerValorDolar()
      {
        var url = "https://api.exchangeratesapi.io/latest?symbols=MXN&base=USD";
        var valor;
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.dolar = JSON.parse(request.responseText);
        return this.dolar.rates;
      //  console.table();
      }
    }



    window.customElements.define(LoginAppp.is, LoginAppp);
  </script>
</dom-module>
